<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Użykownicy aplikacji">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Dodaj użytkownika" [allowAdd]="true" [allowDelete]="true" applyFilterText="Apply" clearFilterText="Clear" confirmDeleteCancelText="Anuluj" confirmDeleteOkText="Ok" confirmDeleteText="Na pewno chcesz usunąć ten rekord?" confirmDeleteTitle="Potwierdź" containsText="Contains" [data]="getUsersResult" emptyText="Brak rekordów." endsWithText="Ends with" equalsText="Equals" greaterThanOrEqualsText="Greater than or equals" greaterThanText="Greater than" lessThanOrEqualsText="Less than or equals" lessThanText="Less than" notEqualsText="Not equals" startsWithText="Starts with" (add)="grid0Add($event)" (delete)="grid0Delete($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="UserName" title="Login">
        </rz-grid-column>
        <rz-grid-column property="Email" title="Email">
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
