<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #nauczycielIdLabel component="nauczyciel_id" [style]="{'width': '100%'}" text="Nauczyciel">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown #nauczycielId [data]="getNauczycielsResult" emptyFilterText="Brak wyników" multipleItemsSelectedText="{0} wybranych" placeholder="Wybierz nauczyciela" [style]="{'width': '100%'}" textProperty="nauczyciel_id" valueProperty="nauczyciel_id" name="nauczyciel_id">
            </rz-dropdown>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #nazwaLabel component="nazwa" [style]="{'width': '100%'}" text="Nazwa">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #nazwa [maxLength]="2" [style]="{'width': '100%'}" name="nazwa">
            </rz-textbox>
          </div>
        </div>
        <div class="row">
          <div class="col offset-sm-3">
            <rz-button #button1 buttonStyle="primary" buttonType="submit" icon="save" text="Zapisz">
            </rz-button>
            <rz-button #button2 buttonStyle="light" [style]="{'marginLeft': '1rem'}" text="Anuluj" (click)="button2Click($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </div>
  </div>
</rz-content>
