<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 cancelText="Anuluj" [data]="user" deleteText="Usuń" submitText="Zapisz" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field [disabled]="true" property="UserName" requiredText="is required" title="Login" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Email" requiredText="is required" title="Email" type="string">
        </rz-string-form-field>
        <rz-lookup-form-field [data]="roles" emptyFilterText="No results found" [multiple]="true" multipleItemsSelectedText="{0} items selected" property="RoleNames" requiredText="is required" textProperty="Name" title="Rola" valueProperty="Name" type="lookup">
        </rz-lookup-form-field>
        <rz-password-form-field property="Password" requiredText="is required" title="Hasło" type="password">
        </rz-password-form-field>
        <rz-password-form-field compare="Password" property="ConfirmPassword" requiredText="is required" title="Potwierdź hasło" type="password">
        </rz-password-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
