<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #osobaIdLabel component="osoba_id" [style]="{'width': '100%'}" text="Osoba">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown #osobaId [data]="getOsobasResult" emptyFilterText="Brak wyników." [multiple]="true" multipleItemsSelectedText="{0} wybranych wyników" placeholder="Wybierz osobę" [style]="{'width': '100%'}" textProperty="nazwisko" valueProperty="nazwisko" name="osoba_id">
            </rz-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="col offset-sm-3">
            <rz-button #button1 buttonStyle="primary" buttonType="submit" icon="save" text="Zapisz">
            </rz-button>
            <rz-button #button2 buttonStyle="light" [style]="{'marginLeft': '1rem'}" text="Anuluj" (click)="button2Click($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </div>
  </div>
</rz-content>
