<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #dataUrodzeniaLabel text="Data Urodzenia" component="data_urodzenia" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-datepicker #dataUrodzenia [style]="{'width': '100%'}" [(ngModel)]="uczen && uczen.data_urodzenia" name="data_urodzenia">
            </rz-datepicker>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #osobaIdLabel text="Osoba" component="osoba_id" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown-datagrid #osobaId [data]="getOsobasForosoba_idResult" textProperty="imie" valueProperty="osoba_id" placeholder="Choose Osoba" [count]="getOsobasForosoba_idCount" [pageSize]="getOsobasForosoba_idPageSize" [(ngModel)]="uczen && uczen.osoba_id" [style]="{'width': '100%'}" [selectedValue]="getByOsobasForosoba_idResult" emptyText="No records to display." searchText="Search..." name="osoba_id" (loadData)="osoba_idLoadData($event)">
            </rz-dropdown-datagrid>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #rodzicIdLabel text="Rodzic" component="rodzic_id" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown-datagrid #rodzicId [data]="getRodzicsForrodzic_idResult" textProperty="rodzic_id" valueProperty="rodzic_id" placeholder="Choose Rodzic" [count]="getRodzicsForrodzic_idCount" [pageSize]="getRodzicsForrodzic_idPageSize" [(ngModel)]="uczen && uczen.rodzic_id" [style]="{'width': '100%'}" [selectedValue]="getByRodzicsForrodzic_idResult" emptyText="No records to display." searchText="Search..." name="rodzic_id" (loadData)="rodzic_idLoadData($event)">
            </rz-dropdown-datagrid>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #klasaIdLabel text="Klasa" component="klasa_id" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown-datagrid #klasaId [data]="getKlasasForklasa_idResult" textProperty="nazwa" valueProperty="klasa_id" placeholder="Choose Klasa" [count]="getKlasasForklasa_idCount" [pageSize]="getKlasasForklasa_idPageSize" [(ngModel)]="uczen && uczen.klasa_id" [style]="{'width': '100%'}" [selectedValue]="getByKlasasForklasa_idResult" emptyText="No records to display." searchText="Search..." name="klasa_id" (loadData)="klasa_idLoadData($event)">
            </rz-dropdown-datagrid>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #adresLabel text="Adres" component="adres" [style]="{'width': '100%'}">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #adres [maxLength]="100" [style]="{'width': '100%'}" [(ngModel)]="uczen && uczen.adres" name="adres">
            </rz-textbox>
          </div>
        </div>
        <div class="row">
          <div class="col offset-sm-3">
            <rz-button #button1 buttonType="submit" icon="save" text="Save" buttonStyle="primary">
            </rz-button>
            <rz-button #button2 buttonStyle="light" [style]="{'marginLeft': '1rem'}" text="Cancel" (click)="button2Click($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </div>
  </div>
</rz-content>
