<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #czyBylLabel component="czy_byl" [style]="{'width': '100%'}" text="Obecność">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-checkbox #czyByl [triState]="true" [(ngModel)]="obecnosc && obecnosc.czy_byl" name="czy_byl">
            </rz-checkbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #uczenIdLabel component="uczen_id" [style]="{'width': '100%'}" text="Uczeń">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown-datagrid #uczenId [count]="getUczensForuczen_idCount" [data]="getUczensForuczen_idResult" emptyText="Brak rekordów" [pageSize]="getUczensForuczen_idPageSize" placeholder="Wybierz ucznia" searchText="Szukaj..." [selectedValue]="getByUczensForuczen_idResult" [style]="{'width': '100%'}" textProperty="adres" [(ngModel)]="obecnosc && obecnosc.uczen_id" valueProperty="uczen_id" name="uczen_id" (loadData)="uczen_idLoadData($event)">
            </rz-dropdown-datagrid>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #dataOpisIdLabel component="data_opis_id" [style]="{'width': '100%'}" text="Opis">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown-datagrid #dataOpisId [count]="getDataOpisFordata_opis_idCount" [data]="getDataOpisFordata_opis_idResult" emptyText="Brak rekordów." [pageSize]="getDataOpisFordata_opis_idPageSize" placeholder="Wybierz opis" searchText="Szukaj..." [selectedValue]="getByDataOpisFordata_opis_idResult" [style]="{'width': '100%'}" textProperty="opis" [(ngModel)]="obecnosc && obecnosc.data_opis_id" valueProperty="data_opis_id" name="data_opis_id" (loadData)="data_opis_idLoadData($event)">
            </rz-dropdown-datagrid>
          </div>
        </div>
        <div class="row">
          <div class="col offset-sm-3">
            <rz-button #button1 buttonStyle="primary" buttonType="submit" icon="save" text="Zapisz">
            </rz-button>
            <rz-button #button2 buttonStyle="light" [style]="{'marginLeft': '1rem'}" text="Anuluj" (click)="button2Click($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </div>
  </div>
</rz-content>
