<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #ocenaNLabel component="ocena_n" [style]="{'width': '100%'}" text="Ocena">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-numeric #ocenaN [style]="{'width': '100%'}" [(ngModel)]="ocena && ocena.ocena_n" name="ocena_n">
            </rz-numeric>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #nauczycielIdLabel component="nauczyciel_id" [style]="{'width': '100%'}" text="Nauczyciel">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown #nauczycielId [data]="getNauczycielsResult" emptyFilterText="Brak wyników" multipleItemsSelectedText="{0} wybranych" placeholder="Wybierz nauczyciela" [style]="{'width': '100%'}" textProperty="nauczyciel_id" [(ngModel)]="ocena && ocena.nauczyciel_id" valueProperty="nauczyciel_id" name="nauczyciel_id">
            </rz-dropdown>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #uczenIdLabel component="uczen_id" [style]="{'width': '100%'}" text="Uczeń">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown #uczenId [data]="getUczensResult" emptyFilterText="Brak wyników" multipleItemsSelectedText="{0} wybranych" placeholder="Wybierz ucznia" [style]="{'width': '100%'}" textProperty="adres" [(ngModel)]="ocena && ocena.uczen_id" valueProperty="uczen_id" name="uczen_id">
            </rz-dropdown>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom': '1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #dataOpisIdLabel component="data_opis_id" [style]="{'width': '100%'}" text="Opis">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown #dataOpisId [data]="getDataOpisResult" emptyFilterText="Brak wyników" multipleItemsSelectedText="{0} wybranych" placeholder="Wybierz opis" [style]="{'width': '100%'}" textProperty="opis" [(ngModel)]="ocena && ocena.data_opis_id" valueProperty="data_opis_id" name="data_opis_id">
            </rz-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="col offset-sm-3">
            <rz-button #button1 buttonStyle="primary" buttonType="submit" icon="save" text="Zapisz">
            </rz-button>
            <rz-button #button2 buttonStyle="light" [style]="{'marginLeft': '1rem'}" text="Anuluj" (click)="button2Click($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </div>
  </div>
</rz-content>
