<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Nauczyciele">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Dodaj nauczyciela" [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" applyFilterText="Apply" clearFilterText="Clear" [confirmDelete]="true" confirmDeleteCancelText="Anuluj" confirmDeleteOkText="Ok" confirmDeleteText="Na pewno chcesz usunąć ten rekord?" confirmDeleteTitle="Potwierdź" containsText="Contains" [count]="getNauczycielsCount" [data]="getNauczycielsResult" emptyText="Brak wyników." endsWithText="Ends with" equalsText="Equals" greaterThanOrEqualsText="Greater than or equals" greaterThanText="Greater than" lessThanOrEqualsText="Less than or equals" lessThanText="Less than" notEqualsText="Not equals" startsWithText="Starts with" (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="osoba_id" title="Osoba_ID" type="integer">
        </rz-grid-column>
        <rz-grid-column property="nauczyciel_id" title="Nauczyciel_ID" type="integer">
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
