<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Ekran logowania">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-login #login0 [allowResetPassword]="true" loginText="Zaloguj się" passwordRequired="Hasło jest wymagane" passwordText="Hasło" registerMessageText="Nie masz jeszcze konta?" registerText="Zarejestruj się" resetPasswordText="Zapomniałeś hasła?" [style]="{'width': '431.140625px'}" userRequired="Nazwa użytkownika jest wymagana" userText="Login" (login)="login0Login($event)" (register)="login0Register($event)">
      </rz-login>
    </div>
  </div>
</rz-content>
